################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################


/.vs
/env
/test_images
/__pycache__
/env1/Lib/site-packages/setuptools-58.1.0.dist-info
/env1
