################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/fs.py
/.vs
/env
/test_images
/__pycache__
